@import 'tailwindcss';

@theme {
  /* colours */
  --color-yellow-500: #ffff00;
  --color-purple-500: #ff00f5;
  --color-lightblue-500: #7df9ff;
  --color-beige-500: #f9f5f2;
  --color-green-500: #2fff2f;
  --color-red-500: #ff4911;
  --color-mint-500: oklch(0.72 0.11 178);

  /* shadows */
  --shadow-md: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  --shadow-lg: 4px 4px 0px 0px rgba(0, 0, 0, 1);

  /* shadows */
  --font-sans: 'Public Sans';
}
